// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
    font-size: 14px;
    font-weight: normal;
    color: black;
}

/* nav */

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;

a.navbar-brand{
  font-size: 20px;
  color: White;
}

li.nav-item {
  font-size: 15px;

  a.nav-link  {
  color: white;
  }

}

}



/* footer */

footer.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #073;
  font-size: 20px;
  font-weight: bold;

  a {
    color: black;
  }

  a:hover {
    color: red;
  }



  img.brand-icon {
    width: 17px;
    height: 17px;
  }
}


/* User gravatar */

section.user_info {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar {
    float: none;
    max-width: 70px;
  }
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}

.gravatar {
  float: left;
  max-width: 50px;
  border-radius: 50%;
}
