// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
    font-size: 14px;
    font-weight: normal;
    color: red;
}

/* nav */

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;

a.navbar-brand{
  font-size: 50px;
  color: red;
}

li.nav-item {
  font-size: 50px;

  a.nav-link  {
  color: red;
  }

}

}











/* footer */

footer.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #073;
  font-size: 20px;
  font-weight: bold;

  a {
    color: red;
  }

  a:hover {
    color: #093;
  }



  img.brand-icon {
    width: 17px;
    height: 17px;
  }
}
